<po-modal
  #advancedFilterModal
  p-title="search-advanced"
  (ngModelChange)="log('ngModelChange', 'po-modal')"
  (change)="log('ngModelChange', 'po-modal')"
  [p-primary-action]="applyAction"
  [p-secondary-action]="closeAction"
>
  <form #advancedFilterForm="ngForm">
    <div class="po-row">
      <po-lookup
        #filterLookup
        class="po-md-6"
        id="program"
        name="program"
        (p-change)="pChange($event)"
        [(ngModel)]="filter.programCode"
        p-label="Hero: Robert Bruce Banner"
        p-field-label="label"
        p-field-value="value"
        p-filter-service="https://po-sample-api.fly.dev/v1/heroes"
      >
      </po-lookup>
    </div>

    <div class="po-row">
      <div class="po-md-12 po-field-title">Situation</div>
      <po-accordion class="po-md-12">
        <po-accordion-item class="po-md-12" p-label="waiting">
          <po-checkbox-group
            name="reason"
            [p-options]="this.optionsWaiting"
            [ngModel]="filter.situationReason"
            (ngModelChange)="filter.situationReason = $event"
          ></po-checkbox-group>
        </po-accordion-item>

        <po-accordion-item class="po-md-12" p-label="executing">
          <po-checkbox-group
            name="reason"
            [p-options]="this.optionsExecuting"
            [ngModel]="filter.situationReason"
            (ngModelChange)="filter.situationReason = $event"
          ></po-checkbox-group>
        </po-accordion-item>
      </po-accordion>
    </div>
  </form>
</po-modal>
